@model Vinoteca.Models.Vino

@{
    ViewData["Title"] = "Delete";
}


<h3 class="delete-message">¿Estas seguro de querer eliminar este vino?</h3>
<hr class="main-hr" />
<div class="row">
    <div class="col-xl-4 col-md-4 col-sm-12 profile-card mt-5">
        <div class="image-container-vino mb-3">
            <img src="@Url.Content("~/Images/"+Model.VinoPath)" class="image-vino" alt="imagen vino" />
        </div>

    </div>

    <div class="col-xl-8 col-md-8 col-sm-12 mt-5">
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                @Html.DisplayNameFor(m => m.Nombre)
            </div>
            <div class="col-xl-4 col-md-6">
                @Html.DisplayFor(m=>m.Nombre)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                @Html.DisplayNameFor(model => model.DenominacionOrigen)
            </div>
            <div class="col-xl-4 col-md-6">
                @Html.DisplayFor(model => model.DenominacionOrigen.Denominacion)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                 @Html.DisplayNameFor(model => model.TipoVino)
            </div>
            <div class="col-xl-4 col-md-6">
                 @Html.DisplayFor(model => model.TipoVino)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                 @Html.DisplayNameFor(model => model.Anada)
            </div>
            <div class="col-xl-4 col-md-6">
                @Html.DisplayFor(model => model.Anada)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                @Html.DisplayNameFor(model => model.EdadVino)
            </div>
            <div class="col-xl-4 col-md-6">
                 @Html.DisplayFor(model => model.EdadVino)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                 @Html.DisplayNameFor(model => model.Alcohol)
            </div>
            <div class="col-xl-4 col-md-6">
               @Html.DisplayFor(model => model.Alcohol)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                 @Html.DisplayNameFor(model => model.Color)
            </div>
            <div class="col-xl-4 col-md-6">
                 @Html.DisplayFor(model => model.Color)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                 @Html.DisplayNameFor(model => model.Azucar)
            </div>
            <div class="col-xl-4 col-md-6">
                 @Html.DisplayFor(model => model.Azucar)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                  @Html.DisplayNameFor(model => model.Unidades)
            </div>
            <div class="col-xl-4 col-md-6">
                @Html.DisplayFor(model => model.Unidades)
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                  @Html.DisplayNameFor(model => model.Precio)
            </div>
            <div class="col-xl-4 col-md-6">
                @Html.DisplayFor(model => model.Precio) €
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div class="flex-container">
            <div class="col-xl-3 col-md-6 bold-text">
                @Html.DisplayNameFor(model => model.Descripcion)
            </div>
            <div class="col-xl-4 col-md-6">
                 @Html.DisplayFor(model => model.Descripcion) 
            </div>
        </div>
        <hr class="col-xl-7 col-md12 no-margin-hr purple-hr" />
        <div>


            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Eliminar" class="btn custom-btn-danger mt-3" /> 
                
            </form>
        </div>
        
    </div>
    <a asp-action="IndexUser" class="custom-anchor ml-5">Volver</a>
</div>


@section Styles {
    @*<link rel="stylesheet" type="text/css" href="~/css/catalog.css">*@
    <link rel="stylesheet" type="text/css" href="~/css/Images.css">
     }
