@model IEnumerable<Vino>

@{
    ViewData["Title"] = "Catálogo";
}

<h1 class="main-title">Catálogo</h1>

<hr class="main-hr" />
<div class="catalog-container">
    @foreach(var vino in Model)
    {
        <div class="item-container">
            <a asp-action="Details" asp-route-id="@vino.ID">
            <div class="image-container">
                <image class="image" alt="Imagen vino" src="@Url.Content(vino.VinoPath)" />
            </div>
            <div class="container-info">
                <p class="vino-name-text">@Html.DisplayName(vino.Nombre)</p>
                <p class="denominacion-text">@Html.DisplayName(vino.DenominacionOrigen.Denominacion)</p>
                <p class="price">@Html.DisplayName(vino.Precio.ToString()) €</p>
            </div>
            </a>
            <button class="btn custom-btn-primary">Comprar</button>
        </div>

    }
</div>



@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/catalog.css">
         }

