@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vinoteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384- fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    @*<link rel="stylesheet" href="~/css/SideBar.css" />*@

    @*
        To render stylesheets where it's necesary
        In specific view call like this:
         @section Styles {
         <link rel="stylesheet" type="text/css" href="~/wwwroot/css/yourstylesheet.css">
         }

    *@
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-nav">
                <a class="navbar-brand" asp-area="" asp-controller="Vinos" asp-action="Index"><img class="logo-nav" src="~/images/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
@*                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link black-nav-text" asp-area="" asp-controller="Vinos" asp-action="Index">Catálogo</a>
                        </li>
                        @if(User.IsInRole("User") && !User.IsInRole("Bodeguero"))
                        {
                            <a class="nav-link black-nav-text" asp-controller="Account" asp-action="Bodeguero">Hacerse vendedor</a>
                        }
                        @if (User.IsInRole("Bodeguero")) {
                        <li class="nav-item">
                                <a class="nav-link black-nav-text" asp-area="" asp-controller="Vinos" asp-action="Create">Nuevo Vino</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link black-nav-text" asp-controller="Vinos" asp-action="IndexUser">Vinos a la venta</a>
                        </li>
                        }
                    </ul>
                </div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                {

                }
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </nav>
    </header>
   @* @if (SignInManager.IsSignedIn(User) && User.IsInRole("User") || User.IsInRole("Bodeguero"))
    {
        <div class="container-fluid no-margin-left" style="margin-left:0px; padding-left:0px;">
            <main role="main" class="pb-3">
                    <div class="row">
                        <div class="col-3" style="margin-top:-15px;">
                            <partial name="_AccountAsidePartial" />
                        </div>
                        <div class="col-8">
                            @RenderBody()
                        </div>
                    </div>
            </main>
        </div>
    }
    else
    {*@
    <main role="main" class="pb-3">
        <div class="container-fluid">
            
                @RenderBody()
            
        </div>
    </main>
    @*}*@
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Seis Uvas - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*
    To render scripts in specific view. Call like this:

             @section Scripts {
             <script src="~/wwwroot/js/yourjavascriptfile.js"></script>
             }
    *@
    @RenderSection("Scripts", required: false)
</body>
</html>
